<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%typeof meta !== 'undefined' && meta.length > 0 && meta.forEach(function (item){%><meta <%-(item.name ? 'name' : 'property')%>=”<%-item.property || item.name%>” content=”<%-item.content%>”/>
    <%});%>
    <title><%-title%> | Eat Homely</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slidebars/0.10.2/slidebars.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <%(typeof css === 'object') && css.forEach(function (location) {%>
    <link href="<%-location%>" rel="stylesheet" /><%});%>
</head>
<body ng-app="app">
    <!-- Fixed navbar -->
    <div class="pos-f-t">
        <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <div>
                <a class="navbar-brand" href="#">Clout Head Node</a>
                <ul class="nav navbar-nav" ng-controller="sub-navbar">
                    <li  data-ng-repeat="(id, item) in menuItems" class="nav-item"  ng-class="{active: isActive(item.path)}">
                        <a id="{{id}}" href="#{{item.path}}" class="nav-link"><i class="{{item.icon}}"></i> <span>{{item.title}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </div>
    <div class="container mainview-animation" ng-view></div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2016 Clout by <a href="http://dadu.co">Muhammad Dadu</a></span>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/angular-datatables.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/default.js"></script>
    <%(typeof javascript === 'object') && javascript.forEach(function (location) {%>
    <script src="<%-location%>"></script><%});%>
</body>
</html>
